---
import ContentSection from "~/components/content-section.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import type { ServiceItem } from "~/types";
import FeaturesList from "~/components/features-list.astro";

const services: Array<ServiceItem> = [
  { 
    title: "HAHZ.ARVRTISE", 
    subtitle: "Bitcoin Reddit", 
    description: "As the pioneer in tokenizing commercial real estate, Wizard of Hahz has created a Bitcoin-powered Reddit platform. This platform utilizes upvotes and downvotes via Bitcoin zaps to help investors discover the hottest opportunities in commercial real estate.", 
    img: "socialMedia", 
    list1: "Strategic management of communication across relevant social media platforms.", 
    list2: "Amplification of your brand in digital landscapes.", 
    list3: "Enhancement of your tokenized digital properties", 
    list4: "Continuous optimization of your digital presence.", 
  },
  { 
    title: "DISCORD", 
    subtitle: "Bitcoin Linkedin", 
    description: "Investors, brokers, and service providers have united to take control of their tokenized real-world assets (RWA), eliminating the middleman and enabling the sale of tokenized commercial real estate in a day rather than a year, bypassing traditional gatekeeping platforms.", 
    img: "branding", 
    list1: "Crafting 1 of 1 Bitcoin CRE", 
    list2: "Thorough review of corporate image, colors, and identity.", 
    list3: "Transformation of ideas into a visually impactful identity.", 
    list4: "Standing out in the marketplace with a cohesive and compelling visual communication.", 
  },
  {
    title: "$RNT",
    subtitle: "Accept Bitcoin",
    description: "Accept Bitcoin $RNT with $0 fees in a branded CRE CLUB Discord channel. This allows your tenants to pay rent and submit property issues, mapped to a What3Words.com address. Service providers can then address these issues, submit proof, and receive payment in Bitcoin $RNT or L$VE.",
    img: "grMkt",
    list1: "Create affordable CRE rentals.",
    list2: "Development of effective strategies through testing and data analysis.",
    list3: "Continuous improvement to reach new levels of success.",
    list4: "Focus on optimization and long-term success.",
  },
  { 
    title: "MARKET.ARVRTISE",
    subtitle: "Accept Bitcoin",
    description: "Traditional CRE marketplaces are increasing their prices and hidden fees. We offer both non-members and members a free CRE marketplace where brokers and investors can accept Bitcoin Sats (the smallest unit of Bitcoin) through our Arvrtise Market.", 
    img: "socialAds", 
    list1: "Design and execution of high-impact social media campaigns.", 
    list2: "Focus on key objectives such as online sales, lead generation, and branding.", 
    list3: "Tangible results in the short term to drive the success of your business.", 
    list4: "Campaigns focused on increasing foot traffic and calls.", 
  },
  { 
    title: "Web Development", 
    subtitle: "Custom Websites", 
    description: "We build custom Arvrtise websites, marketplaces, landing pages, and branded linktree-like sites. We also create branded social media AR effects to promote your tokenized RWA (Real World Assets). For CRE CLUB members, we offer a 24-hour turnaround time for tokenizing RWA as Bitcoin.", 
    img: "webDev", 
    list1: "Custom websites that reflect the unique essence of your brand.", 
    list2: "Responsive across all devices.", 
    list3: "Engaging design that captivates your audience.", 
    list4: "Implementation of the latest technologies for an optimal online presence.", 
  },
  { 
    title: "REEL ADS", 
    subtitle: "Reel Estate", 
    description: "We put the commercial in real estate with Reel ads that showcase real estate on social media in a cool way. TikTok is the #1 search engine for real estate, and @CRECLUB is the hottest CRE channel for investors around the world.", 
    img: "edVideos", 
    list1: "Captivating videos that amplify your message in a unique way.", 
    list2: "Expert editing that sets you apart and positions you for organic growth.", 
    list3: "Especially effective on platforms like TikTok and Instagram.", 
    list4: "Maximize the impact of your video content.", 
  },
  { 
    title: "Linktree", 
    subtitle: "Lintr.ee/creclub", 
    description: "Times have changed, and people are more connected to their favorite social media platforms than ever. That's why we've created CREtree, a powerful tool using Linktree to showcase CRE CLUB members' properties in a dedicated shop and display their bios and achievements in one convenient link.", 
    img: "seo", 
    list1: "Advanced strategies to boost your online presence.", 
    list2: "Organic search engine ranking optimization.", 
    list3: "Consistent increase in potential customers to your website.", 
    list4: "Fueling the growth of your business through effective strategies.", 
  },
  { 
    title: "Live Auctions", 
    subtitle: "Live Tours", 
    description: "To expedite the traditionally lengthy CRE selling process, we’ve created TikTok effects for every stage of a CRE deal. We also host live CRE tours and auctions on a live platform, complete with a chat feature for Q&A. Bitcoin $RNT is used for bidding, and final deals are sealed in a private Discord or Telegram channel.", 
    img: "sem", 
    list1: "High-impact advertising strategies across multiple platforms.", 
    list2: "Driving highly qualified traffic to your digital properties.", 
    list3: "Focus on generating sales, capturing leads, and more.", 
    list4: "Maximizing the return on your online presence.", 
  },
];
---

<ContentSection title="Solutions" id="solutions">
  <Fragment slot="lead">
    <span class="text-primary"></span>Arvrtise</span> accepts Bitcoin Love (L$VE, $RNT, HAI$, $CBO) Cash Money donations in exchange for
    our solutions. This trickle-up approach empowers the creators economy, allowing our A-Team to grow as one tribe that does live business.</span
    >
  </Fragment>

  {
    services.map((service, index) => (
      <div class="max-w-6xl">
        {index % 2 === 0 ? (
          <div class="md:flex md:flex-row lg:max-h-[27rem] lg:min-h-[27rem] 2xl:max-h-[35rem]">
            <div class="flex flex-col justify-center p-4 text-center md:w-1/2 md:items-end md:text-end">
              <h3 class="mb-2 font-semibold text-gris text-lg md:text-base">
                {service.subtitle}
              </h3>
              <h2 class="gradient-text mb-6 font-extrabold text-6xl md:mb-7 md:text-4xl">
                {service.title}
              </h2>
              <p class="text-balance font-normal text-gris text-base">
                {service.description}
              </p>
            </div>
            <div class="my-6 justify-center md:my-12 md:w-1/2">
              <div class="m-auto max-w-80 md:max-w-sm 2xl:max-w-lg">
                <LottieAnimation
                  src={`/lotties/${service.img}.json`}
                  loop
                  autoplay="visible"
                />
              </div>
            </div>
          </div>
        ) : (
          <div class="flex flex-col-reverse md:flex-row lg:max-h-[27rem] lg:min-h-[27rem] 2xl:max-h-[35rem]">
            <div class="my-6 justify-center md:my-12 md:w-1/2">
              <div class="m-auto max-w-80 md:max-w-sm 2xl:max-w-lg">
                <LottieAnimation
                  src={`/lotties/${service.img}.json`}
                  loop
                  autoplay="visible"
                />
              </div>
            </div>
            <div class="flex flex-col justify-center p-4 text-center md:w-1/2 md:items-start md:text-start">
              <h3 class="mb-2 font-semibold text-gris text-lg md:text-base">
                {service.subtitle}
              </h3>
              <h2 class="gradient-text mb-6 font-extrabold text-6xl md:mb-7 md:text-4xl">
                {service.title}
              </h2>
              <p class="font-normal text-gris text-base">
                {service.description}
              </p>
            </div>
          </div>
        )}
      </div>
    ))
  }
</ContentSection>

<!-- data-aos="fade-right" data-aos-duration="2000" data-aos-delay="250" data-aos-once="true" -->
