---
import ContentSection from "~/components/content-section.astro";
// import LottieAnimation from "astro-integration-lottie/Lottie.astro"; // Removed
import type { ServiceItem } from "~/types";
import FeaturesList from "~/components/features-list.astro";

const services: Array<ServiceItem> = [
  { 
    title: "HAHZ.ARVRTISE", 
    subtitle: "Bitcoin Reddit", 
    description: "Arvrtise your PPV GEM trading cards on HAHZ a Reddit-like platform that allows users to upvote and downvote with Bitcoin. 📙 Use the #PPVGEM Hahztag with each post and tell your fans to ⚡️🔺 your content as a GTM PPV GEM drop marketing campaign. A HahzTag allows playas to find exclusive content on social media. Leave your Bitcoin wallet address to receive Bitcoin L$VE.", 
    img: "emoji-Hahz", 
    list1: "Strategic management of communication across relevant social media platforms.", 
    list2: "Amplification of your brand in digital landscapes.", 
    list3: "Enhancement of your tokenized digital properties", 
    list4: "Continuous optimization of your digital presence.", 
  },
  { 
    title: "PPV LINK", 
    subtitle: "PPV.ARVRTISE.LINK", 
    description: "PPV GEM has its own version of Linktree for creators to Arvrtise different digital A$$ drops, on-demand PPV, BLVE vids, Hahz links or HahzTags. 🔗 Link Ad = 5 TON 🏝️ Custom Menu Domain Link = 44 TON", 
    img: "emoji-Tree", 
    list1: "Crafting 1 of 1 Bitcoin CRE", 
    list2: "Thorough review of corporate image, colors, and identity.", 
    list3: "Transformation of ideas into a visually impactful identity.", 
    list4: "Standing out in the marketplace with a cohesive and compelling visual communication.", 
  },
  {
    title: "BLVE.ARVRTISE",
    subtitle: "Adult YouTube",
    description: "BLVE is the adult YouTube-like platform that allows a PPV GEM creators to earn 💯 in Bitcoin L$VE tips from fans and a flat rate pricing for 1M views equals $2200 USD/Bitcoin L$VE paid monthly. 📙 BLVE on-demand content is a PPV GEM option with the HahzTag 📺",
    img: "emoji-TV",
    list1: "Create affordable CRE rentals.",
    list2: "Development of effective strategies through testing and data analysis.",
    list3: "Continuous improvement to reach new levels of success.",
    list4: "Focus on optimization and long-term success.",
  },
  { 
    title: "PPV.ARVRTISE",
    subtitle: "PPV Reels",
    description: "Creators earn 💯 in $TON paid directly to the Telegram wallet from every PPV view 24/7 365. 📙 PPV on-demand content is a PPV GEM option with the HahzTag 🎥", 
    img: "emoji-PPV", 
    list1: "Design and execution of high-impact social media campaigns.", 
    list2: "Focus on key objectives such as online sales, lead generation, and branding.", 
    list3: "Tangible results in the short term to drive the success of your business.", 
    list4: "Campaigns focused on increasing foot traffic and calls.", 
  },
  { 
    title: "Bitcoin L$VE", 
    subtitle: "PPV Tips", 
    description: "PPV GEM creators sell their fans their Bitcoin L$VE Cash Money for access to X amount of Z live streaming, BLVE content, and for tipping. ", 
    img: "emoji-Love", 
    list1: "Custom websites that reflect the unique essence of your brand.", 
    list2: "Responsive across all devices.", 
    list3: "Engaging design that captivates your audience.", 
    list4: "Implementation of the latest technologies for an optimal online presence.", 
  },
  { 
    title: "TELEGRAM ADS", 
    subtitle: "PPV Ads", 
    description: "Arvrtise your PPV GEM content with a Telegram ad campaign to drive traffic to your digital A$$.", 
    img: "emoji-Ads", 
    list1: "Captivating videos that amplify your message in a unique way.", 
    list2: "Expert editing that sets you apart and positions you for organic growth.", 
    list3: "Especially effective on platforms like TikTok and Instagram.", 
    list4: "Maximize the impact of your video content.", 
  },
  { 
    title: "HahzTag", 
    subtitle: "Discover Gems", 
    description: "Gemologist PPV GEM holders are day traders who build their tribes by creating content around the GEMs they own. They attract buyers by flossing their bag on social media with the HahzTag assocated with the digital A$$.", 
    img: "emoji-Find", 
    list1: "Advanced strategies to boost your online presence.", 
    list2: "Organic search engine ranking optimization.", 
    list3: "Consistent increase in potential customers to your website.", 
    list4: "Fueling the growth of your business through effective strategies.", 
  },
  { 
    title: "Z.ARVRTISE", 
    subtitle: "PPV Twitch", 
    description: " Arvrtise Z is a Bitcoin streaming platform that pays streamers 💯 in instant Bitcoin Zap tips. We also offer a unique live streaming experience: Holders of PPV GEMs can chat 1-on-1 with streamers, based on the duration of their purchased PPV GEM, to unlock exclusive private live streams. 📙Z stream on-demand content is a PPV GEM option with the HahzTag 🟠", 
    img: "emoji-Z", 
    list1: "High-impact advertising strategies across multiple platforms.", 
    list2: "Driving highly qualified traffic to your digital properties.", 
    list3: "Focus on generating sales, capturing leads, and more.", 
    list4: "Maximizing the return on your online presence.", 
  },
];
---

<ContentSection title="The Game Guide" id="solutions">
  <Fragment slot="lead">
    Ready to Play? Join the PPV GEM Telegram to Get in the Game! 
    <a href="https://t.me/+2KBvu5JMHYk4MDdh" target="_blank" rel="noopener noreferrer" class="text-primary">Subscribe</a>
    and get ready to own the game! 
    Invest in exclusive digital A$$ merch—either with a fixed price or in an auction (lasting 1 to 7 days).
  </Fragment>

  {
    services.map((service, index) => (
      <div class="max-w-6xl">
        {index % 2 === 0 ? (
          <div class="md:flex md:flex-row lg:max-h-[27rem] lg:min-h-[27rem] 2xl:max-h-[35rem]">
            <div class="flex flex-col justify-center p-4 text-center md:w-1/2 md:items-end md:text-end">
              <h3 class="mb-2 font-semibold text-gris text-lg md:text-base">
                {service.subtitle}
              </h3>
              <h2 class="gradient-text mb-6 font-extrabold text-6xl md:mb-7 md:text-4xl">
                {service.title}
              </h2>
              <p class="text-balance font-normal text-gris text-base">
                {service.description}
              </p>
            </div>
            <div class="my-6 justify-center md:my-12 md:w-1/2">
              <div class="m-auto max-w-80 md:max-w-sm 2xl:max-w-lg">
                <span class={`text-primary font-bold text-4xl ${service.img}`}></span> 
              </div>
            </div>
          </div>
        ) : (
          <div class="flex flex-col-reverse md:flex-row lg:max-h-[27rem] lg:min-h-[27rem] 2xl:max-h-[35rem]">
            <div class="my-6 justify-center md:my-12 md:w-1/2">
              <div class="m-auto max-w-80 md:max-w-sm 2xl:max-w-lg">
                <span class={`text-primary font-bold text-4xl ${service.img}`}></span> 
              </div>
            </div>
            <div class="flex flex-col justify-center p-4 text-center md:w-1/2 md:items-start md:text-start">
              <h3 class="mb-2 font-semibold text-gris text-lg md:text-base">
                {service.subtitle}
              </h3>
              <h2 class="gradient-text mb-6 font-extrabold text-6xl md:mb-7 md:text-4xl">
                {service.title}
              </h2>
              <p class="font-normal text-gris text-base">
                {service.description}
              </p>
            </div>
          </div>
        )}
      </div>
    ))
  }
</ContentSection>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');